* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    color: #394049;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1% 12%;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(7px);
    z-index: 1;
    transition: all 0.2s;
}

nav a {
    text-decoration: none;
}

nav img {
    width: 3rem;
}

nav ul {
    display: flex;
    width: 43%;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #444a53;
    font-size: 1.05rem;
    font-weight: 500;
    position: relative;
    transition: all 0.2s ease;
}

nav ul li a::after, .resume a::after, .illus a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: rgb(150, 150, 150);
    bottom: -2px;
    left: 0;
    transform: scale(0, 1);
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: grey;
}

.resume a::after, .illus a::after {
    background: #2563EB;
    bottom: 0;
}

nav ul li a:hover::after, .resume a:hover::after, .illus a:hover:after {
    transform: scale(1, 1);
}

.basic-info {
    padding: 8% 12%;
    padding-bottom: 10.2%;
    background-color: #BFD8DA;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.illus {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illus img {
    width: 19rem;
    display: block;
}

.illus a {
    text-decoration: none;
    font-size: 0.8rem;
    color: #2c6fff;
    font-weight: 500;
    position: relative;
}

.text-content {
    width: 70%;
}

.about {
    padding: 5% 12%;
    background-color: #E7F6F2;
}

.about .about-text {
    width: 60%;
}

.about .about-text h2 {
    font-size: 2.3rem;
    padding-bottom: 4%;
}

.about p {
    font-size: 1.1rem;
    padding-bottom: 2%;
    width: fit-content;
}

.third-info, .edu {
    padding: 6% 12%;
    background-color: #BFD8DA;
}

.edu {
    padding: 5% 12%;
    background-color: #E7F6F2;
}

.third-info h2, .edu h2 {
    font-size: 2.3rem;
    padding-bottom: 6%;
}

.timeline-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-list {
    list-style: none;
}

.line {
    position: relative;
}

.line::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    background-color: #4E6874;
    left: 50%;
}

.list-content {
    background-color: #4E6874;
    color: white;
    max-width: 45%;
    padding: 3% 3%;
    margin-bottom: 4%;
    position: relative;
}

.line-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 2%;
}

.line-content p, .line-content li {
    font-size: 0.95rem;
    font-weight: 300;
    width: fit-content;
}

.line-content .date {
    font-size: 0.8rem;
    color: #444a53;
    font-weight: 500;
    letter-spacing: 1px;
    position: absolute;
    top: -25px;
    left: 25px;
}

.line-list .list-content:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(20px);
    border-radius: 25px 0 25px 25px;
}

.line-list .list-content:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(-20px);
    border-radius: 0 25px 25px 25px;
}

.line-list .list-content:nth-child(odd)::after {
    right: -28px;
    transform: translate(50%, -50%);
}

.line-list .list-content:nth-child(even)::after {
    left: -25px;
    transform: translate(-50%, -50%);
}

.line-list .list-content::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-color: #4E6874;
    border-radius: 100px;
    top: 0;
}

.line-list li:last-child {
    margin-bottom: 0;
}

.line-content ul {
    list-style: disc;
    padding-left: 10%;
}

.line-content ul li {
    width: fit-content;
    padding: 0;
    margin: 0;
}

.greet {
    font-size: 1.1rem;
    margin-bottom: 3.5%;
    font-family: 'JetBrains Mono', monospace;
    color: #59626F;
}

.greet p span{
    font-weight: 800;
    font-size: 1.2rem;
}

.greet p:nth-child(2) {
    padding-left: 2%;
}

.info {
    margin-bottom: 3.5%;
}

.info h1 {
    font-size: 3.8rem;
    width: fit-content;
}

.info h1 span {
    color: #47646d;
}

.resume {
    font-size: 1.15rem;
    font-weight: 600;
}

.resume p a {
    text-decoration: none;
    color: #2c6fff;
    position: relative;
}

.about-text h3 {
    margin-bottom: 2%;
    margin-top: 3%;
}

.certifications {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.certificate-card {
    width: 350px;
    background-color: #4E6874;
    padding: 2%;
    border-radius: 7px;
    margin-bottom: 2%;
}

.certificate-card img {
    width: 100%;
    margin-bottom: 1.5%;
    border-radius: 7px;
}

.certificate-card p {
    color: white;
    font-size: 1rem;
    margin: 0 auto;
    text-align: center;
    font-weight: 300;
}